# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Android
build/
.gradle/
local.properties
*.iml
.idea/modules.xml
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/assetWizardSettings.xml
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aar
*.jks
*.keystore

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project specific
*.hprof
java_pid*
pb_data/
pocketbase.exe
*.mjs
dist/
dist-pwa/
